<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-todayair-android-widget" version="0.2.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>todayairAndroidWidget</name>
    <js-module name="todayweatherAndroidWidget" src="www/todayweatherAndroidWidget.js">
        <clobbers target="cordova.plugins.todayweatherAndroidWidget" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="todayweatherAndroidWidget">
                <param name="android-package" value="cordova-plugin-todayweather-android-widget.todayweatherAndroidWidget" />
            </feature>
        </config-file>
	<config-file target="res/values/strings.xml" parent="/resources">
      <string name="widget_name" translatable="false">@string/launcher_name</string>
      <string name="degree" translatable="false">˚</string>
      <string name="temperature_separator" translatable="false">/</string>
      <string name="weather_icon" translatable="false">weather icon</string>
      <string name="yesterday">Yesterday</string>
      <string name="today">Today</string>
      <string name="tomorrow">Tomorrow</string>
      <string name="same_yesterday">Same as yesterday</string>
      <string name="cmp_yesterday">%1$s˚ from yesterday</string>
      <string name="update">Update</string>
      <string name="move_main">Go to App</string>
      <string name="msg_do_not_widget_data_plz_update">Unable to retrieve air information.\nClick here to refresh.</string>
      <string name="fail_to_get_location">TodayAir : Unable to detect your location.</string>
      <string name="current_position">Current Location</string>
      <string name="ok">OK</string>
      <string name="cancel">Cancel</string>
      <string name="aqi">AQI</string>
      <string name="pm10">PM10</string>
      <string name="pm25">PM2.5</string>
      <string name="o3">O3</string>
      <string name="good">Good</string>
      <string name="moderate">Moderate</string>
      <string name="unhealthy_for_sensitive_groups">Unhealthy for sensitive groups</string>
      <string name="unhealthy">Unhealthy</string>
      <string name="very_unhealthy">Very unhealthy</string>
      <string name="hazardous">Hazardous</string>
      <string name="this_location_is_not_supported">No air data available</string>
      <string name="fail_to_get_geoinfo">TodayAir : Unable to retrieve local data</string>
      <string name="loading">Loading</string>
      <string name="general">General</string>
      <string name="style">Style</string>
      <string name="location">Location</string>
      <string name="refresh_interval">Refresh Interval</string>
      <string name="transparency">Transparency</string>
      <string name="background_color">Background Color</string>
      <string name="font_color">Font Color</string>
      <string name="add_locations">Add locations in the app</string>
      <string name="settings">Settings</string>
      <string name="hour">h</string>
      <string name="now">now</string>
        </config-file>
    	<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:launchMode="singleInstance" android:name="net.wizardfactory.todayweather.widget.WidgetMenuActivity" android:theme="@android:style/Theme.Translucent" />
            <service android:name="net.wizardfactory.todayweather.widget.WidgetUpdateService" />
            <activity android:name="net.wizardfactory.todayweather.widget.SettingsActivity" android:theme="@android:style/Theme.DeviceDefault.Light">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                </intent-filter>
            </activity>
            <receiver android:name="net.wizardfactory.todayweather.widget.Provider.W4x1AirStatus">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>

                <meta-data
                        android:name="android.appwidget.provider"
                        android:resource="@xml/w4x1_air_status_info" />
            </receiver>
            <receiver android:name="net.wizardfactory.todayweather.widget.Provider.AirQualityIndex">
                <intent-filter>
                    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                </intent-filter>
                <meta-data android:name="android.appwidget.provider" android:resource="@xml/air_quality_index_info" />
            </receiver>
        </config-file>
        <!--<source-file src="src/android/todayweatherAndroidWidget.java" target-dir="src/cordova-plugin-todayweather-android-widget/todayweatherAndroidWidget" />-->
        <source-file src="src/android/widget" target-dir="src/net/wizardfactory/todayweather" />
        <!--  drawable src/android/resources -->
<resource-file src="src/android/res/drawable-xhdpi/bg_round_black_box.xml" target="res/drawable-xhdpi/bg_round_black_box.xml" />
<resource-file src="src/android/res/drawable-xhdpi/bg_round_gray_box.xml" target="res/drawable-xhdpi/bg_round_gray_box.xml" />
<resource-file src="src/android/res/drawable-xhdpi/bg_round_white_box.xml" target="res/drawable-xhdpi/bg_round_white_box.xml" />
<resource-file src="src/android/res/drawable-xhdpi/cloud.png" target="res/drawable-xhdpi/cloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_lightning.png" target="res/drawable-xhdpi/cloud_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_rain.png" target="res/drawable-xhdpi/cloud_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_rain_lightning.png" target="res/drawable-xhdpi/cloud_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_rain_snow.png" target="res/drawable-xhdpi/cloud_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_rain_snow_lightning.png" target="res/drawable-xhdpi/cloud_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_snow.png" target="res/drawable-xhdpi/cloud_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/cloud_snow_lightning.png" target="res/drawable-xhdpi/cloud_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_sentiment_dissatisfied_white_48dp.png" target="res/drawable-xhdpi/ic_sentiment_dissatisfied_white_48dp.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_sentiment_neutral_white_48dp.png" target="res/drawable-xhdpi/ic_sentiment_neutral_white_48dp.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_sentiment_satisfied_white_48dp.png" target="res/drawable-xhdpi/ic_sentiment_satisfied_white_48dp.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_sentiment_very_dissatisfied_white_48dp.png" target="res/drawable-xhdpi/ic_sentiment_very_dissatisfied_white_48dp.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_sentiment_very_satisfied_white_48dp.png" target="res/drawable-xhdpi/ic_sentiment_very_satisfied_white_48dp.png" />
<resource-file src="src/android/res/drawable-xhdpi/lightning.png" target="res/drawable-xhdpi/lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon.png" target="res/drawable-xhdpi/moon.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud.png" target="res/drawable-xhdpi/moon_bigcloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_lightning.png" target="res/drawable-xhdpi/moon_bigcloud_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_rain.png" target="res/drawable-xhdpi/moon_bigcloud_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_rain_lightning.png" target="res/drawable-xhdpi/moon_bigcloud_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_rain_snow.png" target="res/drawable-xhdpi/moon_bigcloud_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_rain_snow_lightning.png" target="res/drawable-xhdpi/moon_bigcloud_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_snow.png" target="res/drawable-xhdpi/moon_bigcloud_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_bigcloud_snow_lightning.png" target="res/drawable-xhdpi/moon_bigcloud_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_cloud.png" target="res/drawable-xhdpi/moon_cloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_lightning.png" target="res/drawable-xhdpi/moon_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_rain.png" target="res/drawable-xhdpi/moon_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_rain_lightning.png" target="res/drawable-xhdpi/moon_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_rain_snow.png" target="res/drawable-xhdpi/moon_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_rain_snow_lightning.png" target="res/drawable-xhdpi/moon_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud.png" target="res/drawable-xhdpi/moon_smallcloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_lightning.png" target="res/drawable-xhdpi/moon_smallcloud_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_rain.png" target="res/drawable-xhdpi/moon_smallcloud_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_rain_lightning.png" target="res/drawable-xhdpi/moon_smallcloud_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_rain_snow.png" target="res/drawable-xhdpi/moon_smallcloud_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_rain_snow_lightning.png" target="res/drawable-xhdpi/moon_smallcloud_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_snow.png" target="res/drawable-xhdpi/moon_smallcloud_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_smallcloud_snow_lightning.png" target="res/drawable-xhdpi/moon_smallcloud_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_snow.png" target="res/drawable-xhdpi/moon_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/moon_snow_lightning.png" target="res/drawable-xhdpi/moon_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/rain.png" target="res/drawable-xhdpi/rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/rain_lightning.png" target="res/drawable-xhdpi/rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/rain_snow.png" target="res/drawable-xhdpi/rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/reddot.png" target="res/drawable-xhdpi/reddot.png" />
<resource-file src="src/android/res/drawable-xhdpi/snow.png" target="res/drawable-xhdpi/snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/snow_lightning.png" target="res/drawable-xhdpi/snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun.png" target="res/drawable-xhdpi/sun.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud.png" target="res/drawable-xhdpi/sun_bigcloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_lightning.png" target="res/drawable-xhdpi/sun_bigcloud_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_rain.png" target="res/drawable-xhdpi/sun_bigcloud_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_rain_lightning.png" target="res/drawable-xhdpi/sun_bigcloud_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_rain_snow.png" target="res/drawable-xhdpi/sun_bigcloud_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_rain_snow_lightning.png" target="res/drawable-xhdpi/sun_bigcloud_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_snow.png" target="res/drawable-xhdpi/sun_bigcloud_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_bigcloud_snow_lightning.png" target="res/drawable-xhdpi/sun_bigcloud_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_cloud.png" target="res/drawable-xhdpi/sun_cloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_lightning.png" target="res/drawable-xhdpi/sun_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_rain.png" target="res/drawable-xhdpi/sun_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_rain_lightning.png" target="res/drawable-xhdpi/sun_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_rain_snow.png" target="res/drawable-xhdpi/sun_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_rain_snow_lightning.png" target="res/drawable-xhdpi/sun_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud.png" target="res/drawable-xhdpi/sun_smallcloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_lightning.png" target="res/drawable-xhdpi/sun_smallcloud_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_rain.png" target="res/drawable-xhdpi/sun_smallcloud_rain.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_rain_lightning.png" target="res/drawable-xhdpi/sun_smallcloud_rain_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_rain_snow.png" target="res/drawable-xhdpi/sun_smallcloud_rain_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_rain_snow_lightning.png" target="res/drawable-xhdpi/sun_smallcloud_rain_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_snow.png" target="res/drawable-xhdpi/sun_smallcloud_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_smallcloud_snow_lightning.png" target="res/drawable-xhdpi/sun_smallcloud_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_snow.png" target="res/drawable-xhdpi/sun_snow.png" />
<resource-file src="src/android/res/drawable-xhdpi/sun_snow_lightning.png" target="res/drawable-xhdpi/sun_snow_lightning.png" />
<resource-file src="src/android/res/drawable-xhdpi/transparent.png" target="res/drawable-xhdpi/transparent.png" />
<resource-file src="src/android/res/drawable-xhdpi/w1x1_currentweather.png" target="res/drawable-xhdpi/w1x1_currentweather.png" />
<resource-file src="src/android/res/drawable-xhdpi/w2x1_currentaqi.png" target="res/drawable-xhdpi/w2x1_currentaqi.png" />
<resource-file src="src/android/res/drawable-xhdpi/w2x1_currentweather.png" target="res/drawable-xhdpi/w2x1_currentweather.png" />
<resource-file src="src/android/res/drawable-xhdpi/w2x1_widget_sample.png" target="res/drawable-xhdpi/w2x1_widget_sample.png" />
<resource-file src="src/android/res/drawable-xhdpi/w3x1_clock_currentweather.png" target="res/drawable-xhdpi/w3x1_clock_currentweather.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_clock_threedays.png" target="res/drawable-xhdpi/w4x1_clock_threedays.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_currentweather_threedays.png" target="res/drawable-xhdpi/w4x1_currentweather_threedays.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_dailyweather.png" target="res/drawable-xhdpi/w4x1_dailyweather.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_current_hourly.png" target="res/drawable-xhdpi/w4x1_current_hourly.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_hourly.png" target="res/drawable-xhdpi/w4x1_hourly.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x2_clock_current_daily.png" target="res/drawable-xhdpi/w4x2_clock_current_daily.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x2_clock_current_hourly.png" target="res/drawable-xhdpi/w4x2_clock_current_hourly.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x3_clock_current_hourly_daily.png" target="res/drawable-xhdpi/w4x3_clock_current_hourly_daily.png" />
<resource-file src="src/android/res/drawable-xhdpi/w4x1_air_status.png" target="res/drawable-xhdpi/w4x1_air_status.png" />
<resource-file src="src/android/res/drawable-xhdpi/wind_cloud.png" target="res/drawable-xhdpi/wind_cloud.png" />
<resource-file src="src/android/res/drawable-xhdpi/ic_refresh_black_24dp.xml" target="res/drawable-xhdpi/ic_refresh_black_24dp.xml" />
<resource-file src="src/android/res/drawable-xhdpi/ic_settings_black_24dp.xml" target="res/drawable-xhdpi/ic_settings_black_24dp.xml" />
<resource-file src="src/android/res/layout/w4x1_air_status.xml" target="res/layout/w4x1_air_status.xml" />
<resource-file src="src/android/res/layout/air_quality_index.xml" target="res/layout/air_quality_index.xml" />
<resource-file src="src/android/res/layout/clock_and_current_weather.xml" target="res/layout/clock_and_current_weather.xml" />
<resource-file src="src/android/res/layout/clock_and_three_days.xml" target="res/layout/clock_and_three_days.xml" />
<resource-file src="src/android/res/layout/current_weather_and_three_days.xml" target="res/layout/current_weather_and_three_days.xml" />
<resource-file src="src/android/res/layout/daily_weather.xml" target="res/layout/daily_weather.xml" />
<resource-file src="src/android/res/layout/w1x1_current_weather.xml" target="res/layout/w1x1_current_weather.xml" />
<resource-file src="src/android/res/layout/w2x1_current_weather.xml" target="res/layout/w2x1_current_weather.xml" />
<resource-file src="src/android/res/layout/w2x1_widget_layout.xml" target="res/layout/w2x1_widget_layout.xml" />
<resource-file src="src/android/res/layout/widget_menu.xml" target="res/layout/widget_menu.xml" />
<resource-file src="src/android/res/layout/w4x1_current_hourly.xml" target="res/layout/w4x1_current_hourly.xml" />
<resource-file src="src/android/res/layout/w4x1_hourly.xml" target="res/layout/w4x1_hourly.xml" />
<resource-file src="src/android/res/layout/w4x2_clock_current_daily.xml" target="res/layout/w4x2_clock_current_daily.xml" />
<resource-file src="src/android/res/layout/w4x2_clock_current_hourly.xml" target="res/layout/w4x2_clock_current_hourly.xml" />
<resource-file src="src/android/res/layout/w4x3_clock_current_hourly_daily.xml" target="res/layout/w4x3_clock_current_hourly_daily.xml" />
<resource-file src="src/android/res/layout-v17/clock_and_current_weather.xml" target="res/layout-v17/clock_and_current_weather.xml" />
<resource-file src="src/android/res/layout-v17/clock_and_three_days.xml" target="res/layout-v17/clock_and_three_days.xml" />
<resource-file src="src/android/res/layout-v17/w4x2_clock_current_daily.xml" target="res/layout-v17/w4x2_clock_current_daily.xml" />
<resource-file src="src/android/res/layout-v17/w4x2_clock_current_hourly.xml" target="res/layout-v17/w4x2_clock_current_hourly.xml" />
<resource-file src="src/android/res/layout-v17/w4x3_clock_current_hourly_daily.xml" target="res/layout-v17/w4x3_clock_current_hourly_daily.xml" />
<resource-file src="src/android/res/values/widget_preferences.xml" target="res/values/widget_preferences.xml" />
<resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
<resource-file src="src/android/res/values/ids.xml" target="res/values/ids.xml" />
<resource-file src="src/android/res/values-de/widget_preferences.xml" target="res/values-de/widget_preferences.xml" />
<resource-file src="src/android/res/values-de/strings.xml" target="res/values-de/strings.xml" />
<resource-file src="src/android/res/values-en/widget_preferences.xml" target="res/values-en/widget_preferences.xml" />
<resource-file src="src/android/res/values-en/strings.xml" target="res/values-en/strings.xml" />
<resource-file src="src/android/res/values-ja/widget_preferences.xml" target="res/values-ja/widget_preferences.xml" />
<resource-file src="src/android/res/values-ja/strings.xml" target="res/values-ja/strings.xml" />
<resource-file src="src/android/res/values-ko/widget_preferences.xml" target="res/values-ko/widget_preferences.xml" />
<resource-file src="src/android/res/values-ko/strings.xml" target="res/values-ko/strings.xml" />
<resource-file src="src/android/res/values-v14/dimens.xml" target="res/values-v14/dimens.xml" />
<resource-file src="src/android/res/values-zh-rCN/widget_preferences.xml" target="res/values-zh-rCN/widget_preferences.xml" />
<resource-file src="src/android/res/values-zh-rCN/strings.xml" target="res/values-zh-rCN/strings.xml" />
<resource-file src="src/android/res/values-zh-rTW/widget_preferences.xml" target="res/values-zh-rTW/widget_preferences.xml" />
<resource-file src="src/android/res/values-zh-rTW/strings.xml" target="res/values-zh-rTW/strings.xml" />
<resource-file src="src/android/res/xml/w4x1_air_status_info.xml" target="res/xml/w4x1_air_status_info.xml" />
<resource-file src="src/android/res/xml/air_quality_index_info.xml" target="res/xml/air_quality_index_info.xml" />
<resource-file src="src/android/res/xml/widget_preferences.xml" target="res/xml/widget_preferences.xml" />
<resource-file src="src/android/res/xml/clock_and_current_weather_info.xml" target="res/xml/clock_and_current_weather_info.xml" />
<resource-file src="src/android/res/xml/clock_and_three_days_info.xml" target="res/xml/clock_and_three_days_info.xml" />
<resource-file src="src/android/res/xml/current_weather_and_three_days_info.xml" target="res/xml/current_weather_and_three_days_info.xml" />
<resource-file src="src/android/res/xml/daily_weather_info.xml" target="res/xml/daily_weather_info.xml" />
<resource-file src="src/android/res/xml/w1x1_current_weather_info.xml" target="res/xml/w1x1_current_weather_info.xml" />
<resource-file src="src/android/res/xml/w2x1_current_weather_info.xml" target="res/xml/w2x1_current_weather_info.xml" />
<resource-file src="src/android/res/xml/w2x1_widget_provider.xml" target="res/xml/w2x1_widget_provider.xml" />
<resource-file src="src/android/res/xml/w4x1_current_hourly_info.xml" target="res/xml/w4x1_current_hourly_info.xml" />
<resource-file src="src/android/res/xml/w4x1_hourly_info.xml" target="res/xml/w4x1_hourly_info.xml" />
<resource-file src="src/android/res/xml/w4x2_clock_current_daily_info.xml" target="res/xml/w4x2_clock_current_daily_info.xml" />
<resource-file src="src/android/res/xml/w4x2_clock_current_hourly_info.xml" target="res/xml/w4x2_clock_current_hourly_info.xml" />
<resource-file src="src/android/res/xml/w4x3_clock_current_hourly_daily_info.xml" target="res/xml/w4x3_clock_current_hourly_daily_info.xml" />
   </platform>
</plugin>
